body {
    max-width: 500px;
    margin: auto;
}

header, footer {
    background-color: indianred;
    border-radius: 25px;
    display: grid;
}

header {
    grid-template-columns: 1fr 1fr;
    padding: 10px 50px 10px 50px;
    grid-gap: 25px;
}

img {
    max-width: 125px;
    margin: auto;
}

footer {
    grid-template-rows: 1em 1em;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    padding: 10px 50px 10px 50px;
    grid-row-gap: 10px;
}

footer p {
    text-align: center;
}

div {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

a {
    color: darkred;
}

a:hover {
    color: gold;
    font-size: 1.025em;
}

#last-modified {
    color: gold;
    grid-row: 2/3;
    grid-column: 1/-1;
}