:root {
    --main-bg-color: #DFDDE4;
    --main-text-color: black;
    --header-footer-bg-color: black;
    --header-footer-text-color: white;
    --header-heading-color: #726C89;
    --nav-bg-color: #726C89;
    --nav-text-color: white;
    --nav-hover-bg-color: #5E0822;
    --heading-bg-color: #5E0822;
    --heading-text-color: white;
}

main {
    max-width: 1000px;
}

h1, header h2, header nav {
    max-width: 1000px;
    margin: auto;
}

.logo {
    max-width: 200px;
    min-width: 150px;
    width: 20vw;
}

header, footer {
    background-color: var(--header-footer-bg-color);
    color: var(--header-footer-text-color);
    text-align: center;
    align-content: center;
}

header h1 {
    padding: 2vw;
}

header img {
    padding: 10px;
}

header h1 {
    color: var(--header-footer-text-color);
}

header h2 {
    color: var(--header-heading-color);
}

h1, h2, h3, h4 {
    font-family: "DM Sans", sans-serif;
}

h4 {
    color: var(--heading-bg-color);
    border: solid 1px var(--heading-bg-color);
    padding: 2px;
}

p, a, li, label, input {
    font-family: "Lato", sans-serif;
}

#submit-button {
    background-color: var(--heading-bg-color);
    color: white;
}

main p a {
    color: black;
}

.navigation {
	list-style: none;
	padding: 0;
    clear: left;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
    padding: 10px;
}

a {
    color: var(--nav-text-color);
}

.navigation li:hover {
    background-color: var(--nav-hover-bg-color);
    font-style: italic;
}

.responsive li {
	display: block;
}

.responsive li:first-child {
    background-color: var(--nav-hover-bg-color);
}

#event-banner {
    display: none;
    text-align: center;
    background-color: var(--header-footer-bg-color);
    color: var(--heading-text-color);
    margin: 0;
    font-size: 2em;
}

#event-banner p {
    padding: 20px;
    margin: 0;
    font-style: italic;
}

section {
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    min-height: 225px;
    overflow: hidden;
}

section p {
    padding: 10px;
}

h3 { 
    background-color: var(--heading-bg-color);
    color: var(--heading-text-color);
    margin: 0;
    padding: 10px 0 10px 0;
}

#call-to-action {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "DM Sans", sans-serif;
    border: solid 3px black;
    border-radius: 10px;
    padding: 2vw;
    font-size: 1.25em;
}

button:hover {
    background-color: var(--heading-bg-color);
    color: white;
    border: solid 3px black;
    font-style: italic;
}

#library-wide {
    max-width: 100%;
    float: left;
}

#library-tall {
    display: none;
}

#spotlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

#spotlight-section img {
    max-width: 100px;
    max-height: 100px;
}

#spotlight1, #spotlight2, #spotlight3 {
    margin: 10px;
    border: solid 1px black;
    text-align: center;
}

#spotlight3 {
    display: none;
}

#weather-section {
    width: 80vw;
    margin: 10px auto 10px auto;
}

#current-weather {
    font-size: 1.5em;
    font-style: italic;
}

#temp {
    font-size: 2em;
    font-weight: bold;
}

#weather-section img {
    max-width: 200px;
    margin: 10px;
}

#weather-section p {
    margin: 0;
}

footer .logo {
    float: left;
    margin: auto;
}

footer p {
    clear: both;
}

.footer-links {
    margin: 2.5vw;
    padding: 2.5vw;
}

.social {
    max-width: 50px;
    width: 15vw;
    float: right;
}

#twt {
    clear: right;
}

.footer-text {
    padding: 10px;
}

.discover-flex-large {
    display: none;
}

.discover-flex-small {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: auto;
    align-items: center;
    text-align: center;
}

.discover-flex-small img {
    max-width: 100%;
}

#days-since-vis-div {
    text-align: center;
    font-style: italic;
}

form {
    max-width: 100%;
    margin: auto;
}

.thankyou {
    width: 300px;
    margin: auto;
    text-align: center;
}

.cards section {
    padding: 10px;
}

.cards img {
    max-width: 100%;
    max-height: 120px;
}

.cards a {
    color: black;
}

.cardview p, .cardview h2 {
    margin: 0;
}

.inactive {
    display: none;
}

.listview p, .listview h2 {
    margin: 0;
}

.listview {
    min-height: auto;
}

.listview p, .listview a {
    padding: 5px;
    text-align: left;
}

.toggle-button-div {
    display: flex;
    justify-content: center;
}

.view-button {
    width: auto;
    margin: auto;
}

.contact-main h3 {
    text-align: center;
}

.contact-us {
    text-align: center;
}

.contact-form {
    padding: 10px 0 10px 0;
}
.pair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.pair label {
    padding: 5px 0 5px 0;
}

.required-highlight {
    background-color: lightcoral;
}
