table {
    margin: auto;
    border: solid 1px black;
    border-collapse: collapse;
}
body {
    font-family: Ubuntu, sans-serif;
}

caption {
    background-color: maroon;
    color: white;
    font-size: 2em;
    padding: 5px;
}

td {
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    font-size: 115%;
}

thead th, tfoot td {
    background-color: gray;
}

tr:nth-of-type(1), tr:nth-of-type(3), tr:nth-of-type(5) {
    background-color: lightgray;
}

tr:nth-of-type(5) td:first-of-type {font-style: italic;}
tr:nth-of-type(4) td:nth-of-type(3) {background-color: maroon; color: white;}

tr:nth-of-type(1) th {
    padding: 5px;
}